<!DOCTYPE html>
<html lang="en">
<head>
    <title>主页</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/navbar.css" />
</head>
<body style="padding-top: 70px;"  onload="onloading();">
<!----======================导航栏部分============================-------->
<div class="container">
    <!---------------- 导航栏-----------------开始 ----------------->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header home">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="index.html">仲园叫水•报修平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="home"><a href="index.html">主页</a></li>
                    <li class="modify"><a href="add.html">人员增加</a></li>
                    <li class="modify"><a href="stafflist.html">人员管理</a></li>
                    <li class="modify"><a href="modify.html">修改信息</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <!---------------- 导航栏-----------------结束 ----------------->

    <!--============================== 网页主体内容 ============================-->
    <div id="main"><br />
        <ul class="nav nav-tabs nav-pills nav-tabs-justified container">
            <li class="active">
                <a href="#tab1" data-toggle="tab">
                    <h4>工作人员送水情况</h4></a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">
                    <h4>宿舍订水情况</h4></a>
            </li>

        </ul><br />
        <div class="tab-content active">
            <div id="tab1" class="tab-pane fade in active">
                <table border="1" width="70%" align="center"class="table table-striped table-bordered">
                    <thead id='workerTableHead'>
                        <tr>
                            <th>姓名</th>
                            <th>所在校区</th>
                            <th>进行中</th>
                            <th>已完成</th>
                        </tr>
                    </thead>
                    <tbody id='workerTableBody'>

                    </tbody>
                </table>

            </div>
            <div id="tab2"class="tab-pane fade">
                <table border="1" width="70%" align="center"class="table table-striped table-bordered">
                    <thead id='userTableHead'>
                    <tr>
                        <th>宿舍号</th>
                        <th>订水桶数</th>
                    </tr>
                    </thead>
                    <tbody id='userTableBody'>

                    </tbody>
                </table>
                <div id="showUserNav">

                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../js/jquery.min.js" ></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="../js/ie10-viewport-bug-workaround.js" ></script>
<script type="text/javascript" src="../js/userOperate.js" ></script>
<script type="text/javascript" src="../js/wateradm.js" ></script>
<script type="text/javascript"  >
    function onloading() {
        loadWorker();
        loadUserInfo(1);
    }
</script>
</body>
</html>