<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <!---------------- 导航栏-----------------开始 ----------------->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header home">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="index.html">仲园后勤服务平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="home"><a href="index.html">主页</a></li>
                    <li class="modify"><a href="add.html">人员增加</a></li>
                    <li class="modify"><a href="stafflist.html.html">人员管理</a></li>
                    <li class="modify"><a href="modify.html">修改信息</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <!---------------- 导航栏-----------------结束 ----------------->
    <!-------------表单信息区域---------------开始------------------>
    <form role="form" id="detail">
        <p>在要进行修改的地方进行修改,然后点击提交</p>
        <div class="form-group">
            <label for="adminZone">选择校区</label>
            <select class="form-control" id="adminZone"name="adminZone" required>
                <option value="1">海珠校区</option>
                <option value="2">白云校区</option>
            </select><br/>
            <label id="adminZone-error" class="error" for="adminZone" style="color: red"></label><br/><br/>
            <div class="input-group input-group-md ">
                <label for="adminId">账号不可修改 </label>
                <input type="text" class=" col-sm-9 col-xs-9 col-md-3 col-lg-3" id="adminId" name="adminId" placeholder="请输入账号"disabled="ture" >
            </div><br/>
            <div class="input-group input-group-md ">
                <label for="adminName">请输入该工作人员的姓名: </label>
                <input type="text" class=" col-sm-9 col-xs-9 col-md-3 col-lg-3" id="adminName" name="adminName" placeholder="请输入姓名" >
            </div><br/>
            <label id="adminName-error" class="error" for="adminName" style="color: red"></label><br/><br/>
            <div class="input-group input-group-md ">
                <label for="adminPassword">输入密码: </label>
                <input type="text" class=" col-sm-9 col-xs-9 col-md-3 col-lg-3" id="adminPassword" name="adminPassword" placeholder="请输入密码" >
            </div><br/>
            <label id="adminPassword-error" class="error" for="adminPassword" style="color: red"></label><br/><br/>
            <div class="input-group input-group-md ">
                <label for="adminPhone">请输入该工作人员的手机: </label>
                <input type="text" class=" col-sm-9 col-xs-9 col-md-3 col-lg-3" id="adminPhone" name="adminPhone" placeholder="请输入手机号码" >
            </div><br/>
            <label id="adminPhone-error" class="error" for="adminPhone" style="color: red"></label><br/><br/>
            <input type="submit"class="btn btn-default"  value="提交"/>
        </div>
    </form>
    <!-------------表单信息区域---------------结束------------------>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../js/jquery.min.js" ></script>
<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
<script type="text/javascript" src="../js/jquery.validate.min.js" ></script><!-- 提供验证方法 -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="../js/ie10-viewport-bug-workaround.js" ></script>
<script type="text/javascript" src="../js/jquery.validate.min.js" ></script><!-- 提供验证方法 -->
<script>
    $.validator.setDefaults({
        submitHandler: function() {
            console.log("表单验证通过,提交内容到后台");
            staffModify();
        }
    });

    /**
     * 表单验证的相关要求
     */
    $().ready(function() {
        $("#detail").validate({
            rules: {
                adminZone:{
                    required:true
                },
                adminName:{
                    required:true
                },
                password:{
                    required:true
                },
                phone: {
                    required: true,
                    minlength: 11,
                    isMobile: true
                }
            },
            messages: {
                adminZone:{
                    required:"请选择校区"
                },
                adminName:{
                    required: "请输入工作人员名字"
                },
                password:{
                    required:"请输入密码"
                },
                phone: {
                    required: "请输入手机号码",
                    minlength: "请输入正确的手机号码",
                    isMobile: "请正确填写您的手机号码"
                }
            }
        });

    });
    // 手机号码验证
    jQuery.validator.addMethod("isMobile", function(value, element) {
        var phone = /^1[3|4|5|7|8][0-9]{9}$/;
        return this.optional(element) || (phone.test(value));
    }, "请正确填写您的手机号码!");
</script>
</body>
</html>