/build/
/target/
/.externalToolBuilders/
/.settings/
.settings/
/WebContent/
/lucene/
/.idea/
.idea_modules/
.idea/
/lib/
lib/
*.eml
*.iml
*.project
*.classpath
*.settings
*.classes


# Package Files #
*.jar
*.war
*.ear

/bin