<!DOCTYPE html>
<html lang="en">
<head>
    <title>主页</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/amazeui.min.css" />
</head>
<body style="padding-top: 70px;" onload="loading();">
<!----======================导航栏部分============================-------->
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header home">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span>菜单</span>
                </button>
                <a class="navbar-brand " href="index.html">仲园后勤服务管理</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="home"><a href="index.html">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">订单查找 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="searchwater.html">订水订单</a></li>
                            <li ><a href="searchrepair.html">维修订单</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">学生管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="addstu.html">增加学生用户</a></li>
                            <li ><a href="searchstu.html">查找学生用户</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">工作人员管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="addworker.html">增加工作人员</a></li>
                            <li ><a href="searchworker.html">查看工作人员</a></li>
                        </ul>
                    </li>
                    <li><a href="modifyself.html">修改信息</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!--============================== 网页主体内容 ==========开始==================-->
    <div id="main"><br />


    </div>
    <!--============================== 网页主体内容 ==========结束==================-->

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../js/jquery.min.js" ></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="../js/ie10-viewport-bug-workaround.js" ></script>
<script type="text/javascript" src="../js/amazeui.min.js" ></script>

</body>
</html>